:root {
    --md-primary-fg-color: #4783c7;
    --md-primary-fg-color--light: #4e8bd1;
    --md-primary-fg-color--dark: #264568;
}

@page {
    size: a4 portrait;
    margin: 25mm 10mm 25mm 10mm;
    counter-increment: page;
    white-space: pre;
    color: grey;
    @bottom-center {
        content: "Page " counter(page);
    }
}
